footer {
  min-height: 60px;
  background-color: rgba(240, 240, 240);
  border-top: 1px rgba(180, 180, 180) solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-family: mont-reg;
}
